html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  list-style: none;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.logo {
  display: inline-block;
}

.hero__logo {
  padding-top: 40px;
  padding-bottom: 31px;
}

.btn {
  min-width: 180px;
  padding: 13px 28px;
  color: var(--primary-white-color);
  background-color: #070707;
  border: 0;
  border-radius: 25px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  color: #ffffff;
}

.nav {
  border-bottom: 10px solid var(--secondary-text-color);
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu__item:not(:last-child) {
  margin-right: 155px;
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.375;
  color: var(--secondary-text-color);
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero-wrap {
  display: flex;
  align-items: center;
}

.hero-wrap__title {
  margin-left: 155px;
  font-size: 18px;
  line-height: 1.2222222222;
}

.hero-wrap__lang {
  margin-left: 355px;
  transform: rotate(-90deg);
}

.hero-img {
  display: block;
}

.about {
  background-color: #f6f6f6;
}

.about__container {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 107px;
}

.scills__container {
  padding-top: 91px;
  padding-bottom: 110px;
}

.scills__title {
  text-align: center;
  margin-bottom: 70px;
}

.scills__desc {
  text-align: center;
  margin-bottom: 73px;
}

.scills-list {
  display: flex;
  justify-content: space-around;
}

.scills-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scills-list__icon {
  margin-bottom: 24px;
}

.scills-list__text {
  text-align: center;
  margin-bottom: 40px;
}

.scills-list__star {
  align-items: center;
}

.portfolio {
  background-color: #f6f6f6;
}

.portfolio__container {
  padding-top: 112px;
  padding-bottom: 96px;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 47px;
}

.portfolio-list__img {
  margin-bottom: 45px;
}

.portfolio-list__text {
  margin-bottom: 99px;
  text-align: center;
}

.footer__container {
  padding-top: 114px;
  padding-bottom: 123px;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__text {
  margin-bottom: 30px;
}

.footer__btn {
  margin-bottom: 80px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 70px;
}

:root {
  --primary-text-color: #070707;
  --secondary-text-color: #828282;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f8f8f841;
}/*# sourceMappingURL=main.css.map */