.footer__container {
  padding-top: 114px;
  padding-bottom: 123px;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__text {
  margin-bottom: 30px;
}

.footer__btn {
  margin-bottom: 80px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 70px;
}
