:root {
  --primary-text-color: #070707;
  --secondary-text-color: #828282;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f8f8f841;
  //   --secondary-bg-color: #f8f8f8a0;

  //   --accent-color: #2196f3;
  //   --team-button-bg-color: #f5f4fa;
  //   --contacts-footer-color: rgba(255, 255, 255, 0.6);
  //   --footer-bg-color: #2f303a;
  //   --icon-color: #afb1b8;
}
